@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;	
@using SSO.SGP.Web.Areas.RRHH.Controllers;
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.Nombramientos

@{
	Layout = null;
	var hash = "form"+Session.GetHashCode();
}

<script src="@Url.Content("~/assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/plugins/chosen-bootstrap/chosen/chosen.css")" />	
@Scripts.Render("~/bundles/jqueryval")
<script src="Areas/RRHH/ts/Nombramientos/Crear.js"></script>
<script src="Areas/RRHH/ts/Nombramientos/NombramientosManager.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("Crear", "Nombramientos", FormMethod.Post, new { id = hash })) {
<div class="container-fluid">

		<div class="row">
		
		<div class="col-md-4">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaDeAlta, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaDeAlta, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaDeAlta"+hash, @tabindex="2" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaDeAlta@(hash)').datepicker(pickerOpts);
			});
		</script>
		@*@Html.ValidationMessageFor(model => model.FechaDeAlta)*@
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-4">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaDeBaja, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaDeBaja, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaDeBaja"+hash, @tabindex="3" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaDeBaja@(hash)').datepicker(pickerOpts);
			});
		</script>
		@*@Html.ValidationMessageFor(model => model.FechaDeBaja)*@
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-4">
		
	<div class="control-group">
		@Html.LabelFor(model => model.Cargo, new { @class= "control-label" })
		<div class="controls">
			@Html.DropDownList("Cargo", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.CargosRef, new { @class = "form-control col-md-12", @id="CargosRef"+hash, @tabindex="4" })
			<script type="text/javascript">
				$(function () {
					$('#CargosRef@(hash)').chosen();
				});
			</script>
		@Html.ValidationMessageFor(model => model.Cargo)
		</div>
	</div>


	</div><!--fin de div md-12-->
		</div> <!--fin del row-->
		
		<div class="row">
		
		<div class="col-md-5">
		
	<div class="control-group">
		@Html.LabelFor(model => model.Motivo, new { @class= "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Motivo, new {@class = "form-control col-md-12", @id="Motivo"+hash, @tabindex="5"})
			@Html.ValidationMessageFor(model => model.Motivo)
		</div>
	</div>	



	</div><!--fin de div md-12-->
		<div class="col-md-5">
				
	<div class="control-group">
		@Html.LabelFor(model => model.Organismo, new { @class= "control-label" })
		<div class="controls">
            @Html.DropDownList("Organismo", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.OrganismosRef, new { @class = "form-control col-md-10", @id="OrganismosRef"+hash, @tabindex="6" })
			<input type="checkbox" id="TodosLosOrganismos@(hash)" class="form-control" style="float: right"/>todos
            <script type="text/javascript">
			    $(function () {
			        $('#OrganismosRef@(hash)').chosen();
				});
			</script>
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-2">
		
	<div class="control-group">
		@Html.LabelFor(model => model.SituacionRevista, new { @class= "control-label" })
		<div class="controls">
			@*@Html.DropDownList("SituacionRevista", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.SituacionesDeRevista, new { @class = "form-control col-md-12", @id="SituacionesDeRevista"+hash, @tabindex="7" })*@
			<select id="SituacionRevista@(hash)" name="SituacionRevista" class="col-md-12 form-control">
				<option value="T">T</option>
				<option value="S">S</option>
				<option value="X">X</option>
				<option value="P">P</option>
				<option value="C">C</option>
				<option value="B">B</option>
				<option value="Z">Z</option>
			</select> 
            <script type="text/javascript">
                $(function () {                   
                    $('#SituacionRevista@(hash)').chosen();
				});
			</script>
		@Html.ValidationMessageFor(model => model.SituacionRevista)
		</div>
	</div>


	</div><!--fin de div md-12-->
		</div> <!--fin del row-->
		
		<div class="row">
		
		<div class="col-md-3">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaFinContrato, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaFinContrato, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaFinContrato"+hash, @tabindex="8" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaFinContrato@(hash)').datepicker(pickerOpts);
			});
		</script>
		@Html.ValidationMessageFor(model => model.FechaFinContrato)
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-3">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaFinSustitucion, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaFinSustitucion, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaFinSustitucion"+hash, @tabindex="9" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaFinSustitucion@(hash)').datepicker(pickerOpts);
			});
		</script>
		@Html.ValidationMessageFor(model => model.FechaFinSustitucion)
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-3">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaRenuncia, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaRenuncia, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaRenuncia"+hash, @tabindex="10" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaRenuncia@(hash)').datepicker(pickerOpts);
			});
		</script>
		@Html.ValidationMessageFor(model => model.FechaRenuncia)
		</div>
	</div>


	</div><!--fin de div md-12-->
		<div class="col-md-3">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaPaseAPlanta, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaPaseAPlanta, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaPaseAPlanta"+hash, @tabindex="11" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaPaseAPlanta@(hash)').datepicker(pickerOpts);
			});
		</script>
		@Html.ValidationMessageFor(model => model.FechaPaseAPlanta)
		</div>
	</div>


	</div><!--fin de div md-12-->
		</div> <!--fin del row-->
		
		<div class="row">
		
		<div class="col-md-3">
		
	<div class="control-group">
		@Html.LabelFor(model => model.FechaUltimoAscenso, new { @class= "control-label" })
		<div class="controls">
		<div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			@Html.TextBoxFor(model => model.FechaUltimoAscenso, "{0:dd/MM/yyyy}", new {@class="m-wrap form-control m-ctrl-medium date-picker", @id="FechaUltimoAscenso"+hash, @tabindex="12" })
			<span class="add-on"><i class="icon-calendar"></i></span> 
		</div>
		<script type="text/javascript">
			$(function () {
				$('#FechaUltimoAscenso@(hash)').datepicker(pickerOpts);
			});
		</script>
		@Html.ValidationMessageFor(model => model.FechaUltimoAscenso)
		</div>
	</div>


	</div><!--fin de div md-12-->
</div> <!--fin de row -->


		
    <input type="hidden" id="Agente@(hash)" value="@ViewBag.Agente" name="Agente" />
		



	<div class="form-actions">
	
		<input type="button" value="Cancelar" id="Cancelar@(hash)" class="btn" />

		<input type="button" value="Guardar" id="Guardar@(hash)" class="btn green" />

		<input type="button" value="Guardar & Nuevo" id="GuardarYNuevo@(hash)" class="btn blue" />

	</div><!--fin form-actions>-->
</div> <!--fin de container-fluid-->
}

	<script type="text/javascript">       
		$(function () {
			app.Desbloquear();
		});
		
		if (oNombramientos == null)
			var oNombramientos = new Nombramientos.ts.NombramientosManager();
		
		var viewCrear = new Nombramientos.ts.Crear("@(hash)");
		oNombramientos.setCrear(viewCrear); 
		
		
	</script>	
