@{
    Layout = null;
}
@model SSO.SGP.EntidadesDeNegocio.Agentes
<style>
    <!--
    span {
        white-space: pre-wrap;
    }

    p.pt-Normal {
        margin-bottom: 10pt;
        text-align: center;
        font-family: Calibri;
        font-size: 12pt;
        line-height: 108%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    span.pt-Fuentedeprrafopredeter {
        font-size: 12pt;
        font-style: normal;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    span.pt-Fuentedeprrafopredeter-000000 {
        font-family: Calibri;
        font-size: 12pt;
        font-style: normal;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    p.pt-Normal-000001 {
        line-height: 150.0%;
        margin-bottom: 10pt;
        text-align: justify;
        font-family: Calibri;
        font-size: 12pt;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    span.pt-000002 {
        font-size: 12pt;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    div.pt-000003 {
        border-top: solid windowtext 1.0pt;
        padding-top: 1.0pt;
        border-right: solid windowtext 1.0pt;
        padding-right: 4.0pt;
        border-bottom: solid windowtext 1.0pt;
        padding-bottom: 1.0pt;
        border-left: solid windowtext 1.0pt;
        padding-left: 4.0pt;
    }

    p.pt-Normal-000004 {
        margin-bottom: 10pt;
        text-align: center;
        font-family: Calibri;
        font-size: 14pt;
        line-height: 108%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    span.pt-Fuentedeprrafopredeter-000005 {
        font-family: Calibri;
        font-size: 14pt;
        font-style: normal;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    span.pt-Fuentedeprrafopredeter-000006 {
        font-family: Calibri;
        font-size: 12pt;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    span.pt-Fuentedeprrafopredeter-000007 {
        font-family: Calibri;
        font-size: 12pt;
        text-decoration: underline;
        font-style: normal;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    span.pt-Fuentedeprrafopredeter-000008 {
        font-family: Calibri;
        font-size: 12pt;
        font-style: italic;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    span.pt-Fuentedeprrafopredeter-000009 {
        color: #E36C09;
        font-family: Calibri;
        font-size: 12pt;
        font-style: italic;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    p.pt-Normal-000010 {
        margin-bottom: 10pt;
        margin-left: 2.95in;
        text-indent: 0.49in;
        text-align: center;
        font-family: Calibri;
        font-size: 8pt;
        line-height: 108%;
        margin-top: 0;
        margin-right: 0;
    }

    span.pt-Fuentedeprrafopredeter-000011 {
        font-family: Calibri;
        font-size: 8pt;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    p.pt-Normal-000012 {
        margin-bottom: 10pt;
        font-family: Calibri;
        font-size: 12pt;
        line-height: 108%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    span.pt-Fuentedeprrafopredeter-000013 {
        font-size: 12pt;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    -->
</style>
<div class="page">
    <div>
        <p dir="ltr" class="pt-Normal"><span class="pt-Fuentedeprrafopredeter"><img src="/files/documentos/Certificadodia_files/image1.png" style="width: 0.5in; height: 0.4166667in;" alt="image1.png" /></span></p>
        <p dir="ltr" class="pt-Normal"><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000000"> CERTIFICADO PARA CIRCULAR - EMERGENCIA SANITARIA COVID-19</span></p>
        <p dir="ltr" class="pt-Normal"><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">PARA PRESENTAR ANTE QUIEN CORRESPONDA</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span xml:space="preserve" class="pt-000002"> </span></p>
        <div class="pt-000003">
            <p dir="ltr" class="pt-Normal-000004"><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000005">V&Aacute;LIDO POR EL @Model.CertificadoFechaDesde.Value.Date.ToLongDateString()</span></p>
        </div>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"></span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006">Por el presente, el </span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000000">PODER JUDICIAL DE LA PROVINCIA DE LA PAMPA </span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006">- CUIT N&deg; 30-99919610/8, certifica que la </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">@(Model.Personas.Apellidos.Trim() + " " + Model.Personas.Nombres.Trim()), DNI @Model.Personas.NroDocumento</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006">, se desempe&ntilde;a en el cargo de </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">@Model.Nombramientos.Where(x => x.FechaDeBaja == null).FirstOrDefault().Cargos.Descripcion </span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006">de @Model.Nombramientos.Where(x=>x.FechaDeBaja == null).FirstOrDefault().Organismos.Descripcion.</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006">Se emite el presente certificado, en virtud de la situaci&oacute;n epidemiol&oacute;gica motivada por la pandemia de Coronavirus (COVID-19) que diera origen al estado de M&aacute;xima Alerta Sanitaria dictado por Decreto N&deg; 521/20 del Poder Ejecutivo Provincial y ratificado por Ley N&deg; 3214, a los fines del </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">exclusivo desplazamiento</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"> </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">(y regreso)</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"> de la nombrada desde su domicilio al @Model.TokenGCM, </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">el d&iacute;a referido en el encabezado</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"> y en el marco estricto de la Feria Judicial Extraordinaria establecida por Acuerdos N&deg; 3695 y N&deg; 3696, y las respectivas pr&oacute;rrogas establecidas por el Superior Tribunal de Justicia.</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">Solicitado por:</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"> Titular de certificado v&iacute;a mail </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">Tramitado por</span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000006">: DGA &ndash;DEA</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000007">Ingreso-Permanencia en @Model.TokenGCM:</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000000"> </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000008">a partir de las @Model.CertificadoHorario</span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000006">, previo registro y firma en Libro Guardia Seguridad C.J.</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000000">CONSTATACION DE VALIDEZ:</span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000006"> De considerarse necesario la constataci&oacute;n por parte de la autoridad competente, se informan los n&uacute;meros telef&oacute;nicos de la Direcci&oacute;n General de Administraci&oacute;n: (02954) 15311414 / 15586005 / 15441785, publicados en el sitio oficial del Poder Judicial de La Pampa </span><span lang="es-AR" class="pt-Fuentedeprrafopredeter-000009">https://justicia.lapampa.gob.ar/</span></p>
        <p dir="ltr" class="pt-Normal-000001"><span lang="es-AR">Santa Rosa (LP), @Model.CertificadoValidez</span><span lang="es-AR" xml:space="preserve">. </span></p>
        <p dir="ltr" class="pt-Normal-000010"><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000011"> </span></p>
        <p dir="ltr" class="pt-Normal-000012"><span class="pt-Fuentedeprrafopredeter-000013"><img src="/files/documentos/Certificadodia_files/image2.png" style="width: 2.45in; height: 1.489583in;" alt="firma sappa" /></span><span lang="es-AR" xml:space="preserve" class="pt-Fuentedeprrafopredeter-000000"> </span></p>
    </div>
</div>