@using Syncrosoft.Framework.Controles.MVC.Script;
@using Syncrosoft.Framework.Controles.Mvc.JQuery.Datatables;
@using SSO.SGP.Web.Controllers;
@using SSO.SGP.Web.Areas.RRHH.Controllers;
@using Syncrosoft.Framework.Controles.MVC;
@model SSO.SGP.EntidadesDeNegocio.AdministracionPedidos

@{
    Layout = null;
    var hash = "form" + Session.GetHashCode();
}

<script src="@Url.Content("~/assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js")" type="text/javascript"></script>

<link rel="stylesheet" href="@Url.Content("~/assets/plugins/chosen-bootstrap/chosen/chosen.css")" />
<link rel="stylesheet" href="@Url.Content("~/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch.min.css")" />


@Scripts.Render("~/bundles/jqueryval")
<script src="Areas/Administracion/ts/MisPedidos/Eliminar.js"></script>
<script src="Areas/Administracion/ts/MisPedidos/MisPedidosManager.js"></script>
<script src="ts/Syncro/SyncroModal.js"></script>
@using (Html.BeginForm("Eliminar", "MisPedidos", FormMethod.Post, new { area = "Administracion", id = hash }))
{
    <div class="container-fluid">

        <div class="row" id="DetalleMisPedidos" style="display: none">
            <div class="col-md-12">
                <div class="control-group">
                    <span id="detalle"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">

                <div class="control-group">
                    @Html.LabelFor(model => model.OrganismoDestino, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("OrganismoDestino", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.OrganismosRef, new { @class = "form-control col-md-12", @id = "OrganismosRef" + hash, @tabindex = "1" })
                        <script type="text/javascript">
                            $(function () {
                                $('#OrganismosRef@(hash)').chosen();
                            });
                        </script>
                        @Html.ValidationMessageFor(model => model.OrganismoDestino)
                    </div>
                </div>

            </div>

            <!--fin de div md-12-->
        </div>

        <div class="row">            

            <!--fin de div md-12-->
            <div class="col-md-12">
                <div class="control-group">
                    @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control col-md-12", @id = "Descripcion" + hash, @tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>
            </div>
            <!--fin de div md-12-->
           
        </div>
        <!--fin del row-->
        <div id="ocultar" hidden>
            <div class="row">

                <div class="col-md-3">

                    <div class="control-group">
                        @Html.LabelFor(model => model.Activo, new { @class = "control-label" })
                        <div class="controls">
                            @Html.CheckBoxFor( m => m.Activo, new { @id = "Activo" + hash })
                            <script type="text/javascript">
                                $(function () {
                                    $('#Activo@(hash)').bootstrapSwitch();
                                });
                            </script>
                            @Html.ValidationMessageFor(model => model.Activo)
                        </div>
                    </div>

                </div><!--fin de div md-12-->

                <div class="col-md-4">
                    <div class="control-group">
                        @Html.LabelFor(model => model.Numero, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Numero, new { @class = "form-control col-md-12", @id = "Numero" + hash, @tabindex = "3" })
                            @Html.ValidationMessageFor(model => model.Numero)
                        </div>
                    </div>
                </div>
                <!--fin de div md-12-->

            </div>
            <!--fin del row-->
        </div>     

        <div class="modal fade" id="ModalMisPedidos" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Crear un nueva Operación</h4>
                    </div>
                    <div class="modal-body">
                        Cargando formulario...
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="form-actions">
            <input type="hidden" value="@Model.Id" name="Id" id="Id@(hash)" />                      

            <input type="button" value="Cancelar" id="Cancelar@(hash)" class="btn" />

            <input type="button" value="Eliminar" id="Eliminar@(hash)" class="btn red" />
            

        </div>
        <!--fin form-actions>-->
    </div> <!--fin de container-fluid-->
}

<script type="text/javascript">
    $(function () {
        app.Desbloquear();
    });

    if (oMisPedidos == null)
        var oMisPedidos = new MisPedidos.ts.MisPedidosManager();

    var viewEliminar = new MisPedidos.ts.Eliminar("@(hash)");
    oMisPedidos.setEliminar(viewEliminar);


</script>
